.container {
    max-width: 100%;
    font-family: SF Pro TC, SF Pro Text, SF Pro Icons, PingFang TC, Helvetica Neue, Helvetica, Arial, sans-serif;
}

* a {
    text-decoration: none;
}
#top-buttons{
    display: flex;
}
.container .row .col-12 .btn-group{
    margin: 0px 45px;
    width: 100%;
}
.container .row .col-12 .btn-group .btn{
    width: 33.33333%;
}
.container .row .col-12 {
    margin: 50px auto;
}

#main-pic {
    width: 100%;
    object-fit: cover;
}

.container .row .exterior h2 {
    width: 100%;
}

.container .row .exterior .card {
    width: 45.333333%;
    margin: 1.666666%;
}
.container .row .exterior button:focus{
    outline: 2px solid blue;
}

.container .exterior .card .pic {
    width: 50%;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.container .exterior .card img {
    width: 50%;
    object-fit: cover;
    vertical-align: top;
}

.container .row .exterior .card-body {
    text-align: center;
    font-size: 8px;
    padding: 10px;
    margin: auto;
}


.container .row h2 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 9px;
}

.container .row span {
    color: #86868b;
}

.container .row .storage {
    display: flex;
    flex-wrap: wrap;
}

.container .row .storage .card {
    width: 46.666666%;
    margin: 1.666666%;
    text-align: center;
}
.container .row .storage .card:focus{
    outline: 2px solid blue;
}

.container .row .storage .card h3 {
    font-family: SF Pro TC, SF Pro Text, SF Pro Icons, PingFang TC, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.container .row .storage .card h3 span {
    font-size: 10px;
    color: black;
}

.container .row .storage .card p {
    font-size: 10px;
}

.container .row .storage .card:last-child {
    width: 100%;
    padding: 0;
}

.container .row .storage .card:last-child .card-body {
    padding: 12px 10px;
}

.container .row .storage .card:last-child h3 {
    font-size: 10px;
    text-align: start;
    font-weight: bold;
}

.container .row .storage .card:last-child {
    font-size: 10px;
    text-align: start;
    background-color: #f5f5f7;
}

.container .row .ram {
    display: flex;
    flex-wrap: wrap;
}

.container .row .ram .card {
    width: 46.666666%;
    margin: 1.666666%;
    text-align: center;
}
.container .row .ram .card:focus{
    outline: 2px solid blue;
}

.container .row .ram .card h3 {
    font-family: SF Pro TC, SF Pro Text, SF Pro Icons, PingFang TC, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.container .row .ram .card h3 span {
    font-size: 10px;
    color: black;
}

.container .row .ram .card p {
    font-size: 10px;
}

.container .row .wifi .card {
    margin-top: 10px;
}

.container .row .wifi .card .card-body {
    display: flex;
    align-items: center;
}

.container .row .wifi .card .card-body .text h3 {
    font-size: 17px;
    font-weight: bold;
}

.container .row .wifi .card .card-body .text p {
    font-size: 8px;
    padding-right: 5px;
}

.container .row .wifi .card .card-body .price {
    font-size: 7px;
}

.container .row .wifi .card:nth-child(4) .card-body {
    background-color: #f5f5f7;

}

.container .row .wifi .card-body h4 {
    font-size: 13px;
    font-weight: bold;
}
.container .row .wifi button{
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: white;
}
.container .row .wifi button:focus{
    outline: 2px solid blue;
}
.container .row .finalPrice{
    margin-top: 50px;
    margin-bottom: 700px;
}
.container .row .finalPrice h2{
    font-weight: bolder;
    font-size: 40px;
    
}
@media screen and (min-width:768px) {
    .container .row .col-md-7 .pic {
        position: sticky;
        top: 5px;
    }
}